# Dependencies
node_modules/

# VitePress build output & cache
.vitepress/dist/
.vitepress/cache/
# srcDir=docs 时 VitePress 也会生成 docs/.vitepress 缓存
docs/.vitepress/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.idea/
.vscode/
